<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="" target="_blank"></a>.</span>
  </div>
</footer>